*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
list-style: none;
}

/* root variable */
:root{
    --color-primary:#FF5722;
    --color-secondary-light:#FFA589;
    --color-secondary-dark:#FF7A50;
    --color-navbar: #f8f8f8;
    --color-headings:#000000;
    --color-body:#333333;
    --color-white:#fff;
}