 <section class="container">
      <ul class="list stories__list">
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
            <span class="plus">+</span>
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
        <li class="stories__item">
          <div class="img__container">
            <img src="https://i.pravatar.cc/150" alt="" />
          </div>
          <span>saheb mim</span>
        </li>
      </ul>
    </section>